* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  background: url(/img/background.jpg) no-repeat center center fixed;
  background-size: cover;
}

.clock {
  width: 30em;
  height: 30rem;
  border: 8px solid #000000;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 1rem;
}

.clock-face {
  position: relative;
  width: 100%;
  height: 100%;
  transform: translateY(-3px);
}

.hand {
  width: 50%;
  height: 6px;
  background: #000000;
  position: absolute;
  top: 50%;
  transform-origin: 100%;
  border-bottom: 1px #111111 solid;
  transform: rotate(90deg);
  transition: all 0.5s;
  border-radius: 25px;
}

@media only screen and (max-width: 1025px) {
  .clock {
    width: 15rem;
    height: 15rem;
    border: 6px solid #000000;
  }

  .hand {
    height: 4px;
  }
}
